body {
    
}

#banner { 
 width: 100%;
}
.principal{
    background: #ecffd5;
    padding: 30px;
    color: #000000
}

em strong {
   color: rgb(0, 80, 20);
}
#banner {
    width: 50%;
}
h1{
text-align: center;
height: 80%;
border: 5px solid #74bd71;
padding-top: 20px
margin-left: 15px;
}
.itens { 
    font-size: 50;
 vertical-align: text-bottom;
color: rgba(0, 0, 0, 0.8)
}

.Mododepreparo {
    color: rgba(86, 185, 73, 0.8)
}

.Ingredientes {
    color: rgba(86, 185, 73, 0.8)
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    margin-right: 15%;
}

.Imagemingredientes {
    width: 20%;
    
}
.Imagemmascara {
    width: 20%;
}
.titulo-centralizado{ 
    color: #169153;
}
